/* import Cherry Bomb One from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

/* No more hardcoding symbols */
/* Just FOR FUN */
:root {
    /* Define variables on the highest level (global scope) */
    --image-width: 128px;
    --text-color: #fff;
    --shadow: 4px 4px 0px #f35b81ff;
}

body {
    background-color: #f57ca2ff;
    height: 100vh;
    /* I like Gladolia font instead*/
    font-family: "Cherry Bomb One",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    /* I want to make sure each flex item is placed on
       consistent baseline.
    */
    align-items: baseline;
    gap: 128px;
}

img {
    width: var(--image-width);
    margin: 8px;
    /* width: 10%; */
}

button {
    /* By default, the browser is applying its own styling to
       <button> element and so, I want the button to inherit
       this particular property from its parent element.
    */
    font-family: inherit;
    font-size: large;
    color: var(--text-color);
    border-radius: 16px;
    border-width: 4px;
    border-color: white;
    box-shadow: var(--shadow);
    background-color: #f57ca2ff;
    margin-top: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.versus,
.container__ui-text {
    color: var(--text-color);
    text-align: center;
    font-size: 32px;
    text-shadow: var(--shadow);
}

.container__button-group {
    display: flex;
    flex: auto;
    gap: 8px;
}

/* Notice above that .versus share very common 
   properties but below I'm changing its font size
   property and because the specificity is same. The
   latest property gets applied.
*/
.versus {
    font-size: 64px;
    align-self: center;
}